{% extends "base.html" %}
{% block title %} Edit Item {% endblock %}
{% block content %}
    <h3>Edit Item</h3><br>
    {% if item %}
        <form method="post" action="{{ url_for('edit_item', itemid=item.id) }}">
            {{ edit_form.hidden_tag() }}
            <div class="form-group">
                <label for="title"
                       class="col-form-label">Title</label>
                {{ edit_form.title(class="form-control", maxlength="500", readonly="readonly") }}
            </div>
            <div class="form-group">
                <label for="description"
                       class="col-form-label">Description</label>
                {{ edit_form.description(class="form-control", maxlength="500") }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="editItemDescription">Category</label>
                </div>
                {{ edit_form.category(class="custom-select", id="reminderCategoryInput") }}
            </div>
            <div class="modal-footer">
                {{ edit_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    {% else %}
        No item found.
    {% endif %}
{% endblock %}